<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<%= description() %>">
    <!-- TODO --><meta name="title" content="{{ pageTitle }} | {{ siteurl }}">
    <meta name="keywords" content="eve-online, eve, ccp, ccp games, kills, kill, massively, multiplayer, online, role, playing, game, mmorpg, rank, isk, mmorpg, killboard, zkillboard">
    <meta name="robots" content="index,follow">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <!-- TODO --><meta name="og:site_name" content="{{ siteurl }}">
    <!-- TODO --><meta name="fb:app_id" content="{{ fbAppID }}">
    <meta name="twitter:site" content="@zKillboard">
    <!-- TODO --><meta name="twitter:domain" content="{{ fullsiteurl }}">
    <!-- TODO --><meta name="application-name" content="{{ siteurl }}"/>
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="mobile-web-app-capable" content="yes">
    <!-- TODO --><link rel="shortcut icon" sizes="16x17" href="<%= ExkillWeb.Endpoint.static_path("/favicon.ico") %>" />
      <!-- TODO --><meta name="twitter:title" content="{{ pageTitle }} | {{ siteurl }}">
      <meta name="twitter:card" content="summary">
      <!-- TODO --><meta name="twitter:description" content="<%= description() %>">
      <!-- TODO --><meta name="twitter:image" content="<%= ExkillWeb.Endpoint.static_path("/img/3D.png") %>">
      <!-- TODO --><meta name="og:title" content="{{ siteurl }} / {{ pageTitle }}">
      <!-- TODO --><meta name="og:url" content="{{ fullsiteurl }}">
      <!-- TODO --><meta name="og:description" content="<%= description() %>">
      <!-- TODO --><meta name="og:image" content="<%= ExkillWeb.Endpoint.static_path("/img/3D.png") %>">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- TODO --><link rel="stylesheet" href="<%= ExkillWeb.Endpoint.static_path("/css/style-edits/cyborg-main.css") %>">
    <!-- TODO --><link rel="stylesheet" href="<%= ExkillWeb.Endpoint.static_path("/css/datepicker.css") %>">
    <!-- TODO --><link rel="stylesheet" href="<%= ExkillWeb.Endpoint.static_path("/css/main.css") %>">
    <link rel="stylesheet" href="<%= ExkillWeb.Endpoint.static_path("/css/font-awesome.css") %>">

    <style type="text/css">
      .topBoxes td {
      vertical-align: middle !important;
      }
    </style>
  </head>
  <body>
    <div class="content">

      <!-- The navbar -->
      <div class="container" style="mgin: 0px; padding: 0px;">
        <%= render "_navigationbar.html", conn: @conn %>
      </div>

      <div class="container nobackground">
        {% if crestStatus %}
          <div class="alert alert-danger" style="font-weight: bold"><center>{{ crestStatus|raw }}</center></div>
        {% endif %}


        <!-- Account balance information -->
        {% if accountBalance >= adFreeMonthCost and accountBalance > 0 %}
          <div class="alert alert-success" style="font-weight: bold"><center><a href='/account/payments'>You have an account balance of {{ accountBalance|number_format(2) }} ISK.  Click here to do something with it!</a></center></div>
        {% endif %}

        <!-- Top ad -->
        {% if showAds != false %}
          <div class="centered" id="adsensetop" style="margin-bottom: 5px;">
            {{ topad|raw }}
          </div>
        {% endif %}

        <!-- The text header -->
        {% block header %}{% endblock %}
        <!-- The actual site content-->
        <%= render @view_module, @view_template, assigns %>

        <div class="clearfix"></div>

        <!-- Bottom ad -->
        {% if showAds != false %}
          <br/><hr/><br/>
          <div class="centered" id="adsensebottom" style="margin-bottom: 5px;">
            {{ bottomad|raw }}
          </div>
        {% endif %}

        <!-- Footer -->
        <div class="hidden-xs"><%= render "_footer.html", conn: @conn %></div>
      </div>

      <!-- Modals -->
      <div class="container">
        {% block modal %}{% endblock %}
      </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= ExkillWeb.Endpoint.static_path("/js/bootstrap-datepicker.js") %>"></script>
    <script type="text/javascript" src="<%= ExkillWeb.Endpoint.static_path("/js/search.js") %>"></script>
    <script type="text/javascript" src="<%= ExkillWeb.Endpoint.static_path("/js/common.js?a=2") %>"></script>
    <script type="text/javascript" src="<%= ExkillWeb.Endpoint.static_path("/js/sclock1.js") %>"></script>
                <script type="text/javascript" src="/js/reconnecting-websocket.js"></script>

    <script type="text/javascript">
      var characterID = {{ characterID }};
      var datepicker = $('.datepicker').datepicker({
        format: "mm/yyyy",
        viewMode: 1,
        minViewMode: 1,
        autoclose: true
      }).on("changeDate", function(ev){
        console.log(ev);
        date = new Date(ev.date);
        var year = date.getFullYear();
        var month = date.getMonth() +1;
        location.href = '<%= @conn.request_path %>' + 'year/' + year + '/month/' + month + '/';
        console.log(month)
      });
    </script>

        <script type="text/javascript">
            $(function() {
                $(document).keyup(function(e) {
                    if ($("input:focus, textarea:focus").length === 0 && e.which === 191) {
                        $("#searchbox").focus();
                    }
                });
            });
        </script>
  </body>
</html>
